.first-button{
  background-color: grey;
  color: white;
  font-size: 1.7em;
 
}
.second-button{
  background-color: grey;
  color: white;
  font-size: 1.7em;
  
}
.theseButtons{
  display: flex;
  gap: 10px;
}